<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>About</title>
</head>
<body>
    <div>
        <div class="row">
            <div class="col" style="background-color:darkslategray">
                <br /><br />
                <div class="container" style="text-align:center;">
                    <h2 style="color:white;text-align:center;">ABOUT US</h2>
                    <hr style="background-color:white;" />
                    <br /><br />
                          <p style="color:white;">The automotive industry is one of the world's most significant economic sectors by revenue. Motorsport Network represents the largest audience of motorsport and auto enthusiasts in the world.  </p>
                    <br /><br />
                          <p style="color:white;">EcoCars seeks to educate the world on the benefits of electric vehicle ownership by combatting common myths and misconceptions for a better, brighter, and more sustainable future.</p>
                </div>
            </div>
            <div class="col">
                <div>
                    <img style="width:100%;" src="~/image/aboutcar2.png" />
                </div>
            </div>
        </div>
    </div>
    <div>
        <div style="position:relative;color:white;">
            <img style="position:relative;width:100%;" src="~/image/aboutcar.jpg" />
            <h1 style="position: absolute; top: 10px; left: 30px;">THE MISSION</h1>    
            <h3 style="position: absolute; top: 60px; left: 30px;font-weight:bold;">We created EcoCars to give the industry something it<br /> desperately needed: a dedicated electric vehicle<br /> platform and community that allows consumers to learn<br /> about, buy, and sell electric vehicles in the most<br /> simplistic and user friendly manner available.</h3>
        </div>
    </div>
    <div>
        <div style="position:relative;color:white;">
            <img style="position:relative;width:100%;" src="~/image/about2.jpg" />
            <h1 style="position: absolute; top: 10px; right: 30px;">THE VISION</h1>
            <h3 style="position: absolute; top: 60px; right: 30px;font-weight:bold;">We believe an electric vehicle can be a perfect <br /> fit for anyone and any lifestyle.<br /> We need to do our part and help people understand why. </h3>
        </div>
    </div>
    <div>
        <div style="position:relative;color:forestgreen;">
            <img style="position:relative;width:100%;" src="~/image/Title.png" />
            <h1 style="position: absolute; top: 10px; right: 30px;">WHO WE ARE</h1>
            <h3 style="position: absolute; top: 60px; right: 30px;font-weight:bold;">EcoCars is a groundbreaking technology company<br /> that delivers substance to a highly engaged audience<br /> with industry leading content, unmatched loyalty to our<br /> customers, and a great user experience. </h3>
        </div>   
    </div>
</body>
</html>

